@use '../variables' as *;
.form-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    background: $white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);


.form-title {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.file-input {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input::placeholder {    
    font-size: 16px;
}

.preview-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.input-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.input-field {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.body-item {
    background: #f8f8f8;
    padding: 5px;
    border-radius: 5px;
    margin-top: 50px;
    position: relative;
}

.remove-button {
    position: absolute;
    top: -15px;
    right: -13px;
    background: $danger-color;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 50%;
    cursor: pointer;
}

.add-button, .submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;

}

.add-button {
    background: $success-color;
    color: white;
    margin-top: 10px;
    &:hover{
        background-color: rgb(79, 159, 79);

    }

}

.submit-button {
    background: $primary-color;
    color: $white;
    margin-top: 15px;
    &:hover{
        background-color: rgb(61, 127, 240);

    }
}
}
