@use '../variables' as *;

.ambassa_wrapper {
    .font-bold {
      background-color: white;
    border-radius: 5px;
        display: flex;
        align-items: center;
        color: $primary-color;
        font-size: 28px;
        font-weight: $font-weight-medium;
        box-shadow: $box-shadow;
    }

    .lucide {
        width: 25px;
        height: 25px;

    }

    .lucide-user-check {
        width: 25px;
        height: 25px;
        background-color: $primary-color;
        padding: 10px;
        border-radius: 50px;
        margin: 10px;
        color: rgb(255, 255, 255);
    }

    .admin_table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        th {
            background-color: $primary-color;
            color: $white;
            font-weight: bold;
          }
          tr:nth-child(even) {
            background-color: #f8f9fa;
          }
        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            font-size: 17px;
            white-space: nowrap;

            &:last-child {
                justify-content: center;
                text-align: center;
            }
        }

.role-cell {
  font-size: 20px;
  font-weight: $font-weight-semi-bold;
  text-transform: capitalize;
}

.role-cell.admin {
  color: $primary-color; /* blue */
}

.role-cell.dantasurakshaks {
  color: $success-color; /* green */
}

.role-cell.user {
  color: #9ca3af; /* gray */
}

  
  

// status view

.status-cell {
    font-size: 18px;
    font-weight: $font-weight-semi-bold;
    padding: 4px 8px;
    text-transform: capitalize;
  }
  
  /* Color by status */
  .status-cell.approved {
    background-color: #dcfce7;
    color: $success-color;
  }
  
  .status-cell.pending {
    background-color: #fef9c3;
    color: #b45309;
  }
  
  .status-cell.rejected {
    background-color: #fee2e2;
    color: #b91c1c;
  }

  







  
        .approve_btn,
        .reject_btn {         
    padding: 5px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
                    }

        

        .approve_btn {
            background-color: $success-color;
            box-shadow: inset 1.5px 1.5px 0px rgba(255, 255, 255, .25), inset -1.5px -1.5px 0px rgba(0, 0, 0, .1);

        }

        .reject_btn {
            background-color: $danger-color;
            box-shadow: inset 1.5px 1.5px 0px rgba(255, 255, 255, .25), inset -1.5px -1.5px 0px rgba(0, 0, 0, .1);

        }

        //   .disabled { background-color: gray; cursor: not-allowed; }





        .aprove-reject-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            gap: 10px;
        }
    }
}