$primary-color: #116aef;
$secondary-color: #e9f2ff;
$tertiary-color: #f3f3f3;
$white: #ffffff;
$dark-color: #222222;
$light-color: #f4f4f4;
$danger-color: #EA1C20;
$success-color: #01A601;
$warning-color: #ffcc00;
$gap:16px;
$gap-2:20px;
$font-size: 16px;
$font-size-small: 14px;
$font-size-one: 15px;
$font-size-extra-small: 12px;
$font-size-large: 18px;
$font-size-extra-large: 25px;
$font-size-extra-extra-large: 32px;
$font-family: 'Rubik', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$border-radius: 5px;
$transition: 0.3s;
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);