// common styles for the application
@use './variables' as *;
@use './fonts' as *;

@use './dashbord/dashbord.scss' as *;


// header styling
@use './header/header.scss' as *;

// admin styling
@use './admins/admins.scss' as *;


// ammdasder styling
@use './ambassador/ambassador.scss' as *;

// user styling
@use './user/user.scss' as *;

// slider styling
@use './slider/add_slider.scss' as *;
@use './slider/all_slider.scss' as *;
@use './slider/edit_slider.scss' as *;



*{
  margin: 0;
  padding: 0;
  font-family: $font-family;
  
}

body {
  font-family: $font-family;
}

 
::-webkit-scrollbar{
  display: none;
}



// diseases css

.disease-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.disease-card {
  display: flex;
  gap: 20px;
  align-items: center;
}

.disease-image img {
  width: 150px;
  height: 150px;
}

.disease-actions {
  display: flex;
  gap: 20px;
}











  


.dashboard_main {
  display: grid;
  grid-template-columns:15% 1fr;
  gap: 20px;
  height: 100vh;
}


.outer_wrapper {
  padding: 20px 0px;
}

.ambass_wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
 
}
.p_o_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #8080808c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.p_o_inner {
  max-width: 450px;
  padding: 22px;
  background: #fff;
  width: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}











ul.ambass_list.u_lists {
  display: flex;
  gap: 20px;
}





.footer_inner {
  padding: 20px;
  background: #9A8C98;
}

